body{
	font-family: georgia;
}

html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#ChatWindow {
	height: 500px;
    overflow-y: scroll;
    word-wrap: break-word;
    font-family: georgia;
}

#messageInput {
	margin-top: 15px; 
}

#vraagid {
	text-decoration: underline;
	font-weight: bold;
	font-size: 20px;
	font-family: Monospace;
	margin-top: 15px;
}

.style4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.style4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}


  